html, body {
  padding: 10px;
}

ul.menu {
  list-style: none;
  padding: 0;
  background-color: #f4f4f4;
  box-shadow: 0 3px 2px rgba(0,0,0,.2);
}

ul.menu li {
  width: 100px;
  padding: 15px;
  text-align: center;
  float: left;
}

ul.menu li a {
  color: #b12d2b;
  text-decoration: none;
}


input, textarea {
  font-size: 14px;
  padding-left: 10px;
  line-height: 35px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 99%;
}

input {
  height: 35px;
}

button {
  background: #b12d2b;
  border: 1px solid #777;
  border-color: rgba(0,0,0,.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  user-select: none;
  position: relative;
  border-radius: .3em;
}

.title {
  text-align: center;
  font-size: 20px;
  color: #2e2e2e;
}

.status, .status a {
  color: #b12d2b;
  font-size: 13px;
}

.content {
  color: #787878;
  font-size: 16px;
  line-height: 1.5em;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #CC181E;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #CC181E, 0 0 5px #CC181E;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #CC181E;
  border-left-color: #CC181E;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

