.report {
  padding: 60px 0;
}

.report h3 {
  padding-left: 30px;
  background: url(/images/ui/icon-04.png) no-repeat center left;
  *background: url(/images/ui/icon-04@1x.png) no-repeat center left;
  background: url(/images/ui/icon-04@1x.png) no-repeat center left \9;
  background-size: 17px 24px;
  height: 24px;
  line-height: 24px;
}

.report h3 span {
  font-weight: normal;
  font-size: 14px;
  margin-left: 24px;
}

.report ul {
  width: 1220px;
  margin: 40px auto 0;
  position: relative;
}

.report li {
  display: inline-block;
  vertical-align: top;
  width: 248px;
  margin-right: 71px;
  *float: left;
}

.report li.reportFinal {
  *margin-right: 0;
  margin-right: 0 \9;
}

.report li:nth-child(4n) {
  margin-right: 0;
}

.report li div {
  text-align: center;
}

.report img {
  display: inline-block;
  *display: block;
}

.report li div img:first-child {
  box-shadow: 3px 3px 4px #ddd;
}

.report li div img.reportImg2 {
  height: 25px;
  margin: 42px 0 38px;
}

.report li p {
  display: block;
  width: 248px;
  text-align: center;
  font-size: 14px;
  color: #3d4146;
}

.prev,
.next {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 40%;
  margin-top: -25px;
  cursor: pointer;
}

.prev {
  background: url(/images/ui/icon-13.png) no-repeat center;
  left: -60px;
  background-size: 26px 51px;
}

.next {
  background: url(/images/ui/icon-14.png) no-repeat center;
  right: 0;
  margin-right: -60px;
  background-size: 26px 51px;
}
