.service {
  padding: 64px 0 24px;
}

.service h3 {
  padding-left: 30px;
  background: url(/images/ui/icon-04.png) no-repeat center left;
  *background: url(/images/ui/icon-04@1x.png) no-repeat center left;
  background: url(/images/ui/icon-04@1x.png) no-repeat center left \9;
  background-size: 17px 24px;
  height: 24px;
  line-height: 24px;
}

.service h3 span {
  font-weight: normal;
  font-size: 14px;
  margin-left: 24px;
}

.service ul {
  display: inline-block;
  vertical-align: top;
  width: 255px;
  margin-top: 10px;
}

.service ul.reply {
  width: 866px;
  *float: left;
  float: left \9;
}

.service h4 {
  color: #3d3e43;
  font-size: 16px;
  *line-height: 20px;
}

.reply>li {
  display: block;
  width: 866px;
  *height: 98px;
  padding: 36px 0;
  border-bottom: 1px solid #e0e3e6;
}

.reply>li.serviceFinal {
  border-bottom: 0;
}

.reply>li>img {
  display: inline-block;
  vertical-align: middle;
  width: 98px;
  height: 98px;
  margin-right: -1px;
  *float: left;
  float: left \9;
}

.reply>li>span {
  display: inline-block;
  vertical-align: middle;
  height: 98px;
  line-height: 24px;
  *float: left;
  float: left \9;
}

.reply>li>span.replySpan1 {
  width: 113px;
  height: auto;
  margin-left: 30px;
  margin-right: 83px;
  font-size: 14px;
}

.reply>li>span.replySpan1>p:first-child {
  color: #3c3e47;
  margin-bottom: 7px;
}

.reply>li>span.replySpan1>p:last-child {
  color: #9e9fa2;
}

.reply>li>span.replySpan2 {
  width: 532px;
  height: auto;
}

.reply>li>span.replySpan2>p {
  color: #9e9fa2;
}

.reply>li>span.replySpan2>p.replySpan2p {
  font-size: 12px;
  margin-top: 14px;
  color: #b5b5b6;
  line-height: 1;
  *line-height: 16px;
}

.reply>li>span.replySpan2>p.replySpan2p>b {
  font-weight: normal;
  margin-left: 10px;
  color: #cac6c6;
}

.reply>li:last-child {
  border-bottom: 0;
}

.rank li {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.rank li:first-child {
  margin-top: 0;
  margin-bottom: 40px !important;
}

.rank img {
  float: left;
  width: 58px;
  height: 58px;
  margin-right: 20px;
}

.rank h5 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin: 8px 52px 0 0;
}

.rank p {
  position: absolute;
  right: 0;
  top: 10px;
  color: #e96733;
  padding-top: 27px;
  background: url(/images/ui/icon-15.png) no-repeat center 0px;
  *background: url(/images/ui/icon-15@1x.png) no-repeat center 0px;
  background: url(/images/ui/icon-15@1x.png) no-repeat center 0px \9;
  background-size: 17px 23px;
}
